#cart {
    position: absolute;
    top: 65px;
    right: 15px;
    width: 25rem;
    min-height: 120px;
    z-index: 1000;
}

.payment-method {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
    }
}